@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;500;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0 32px;
    max-width: 1200px;
    margin: auto;
}

/* GENERAL */

h1 {
    font-size: 32px;
}

h1, p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

nav {
    height: 80px;
    display: flex;
}

.btn {
    cursor: pointer;
}

.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px 0;
}

.nav__links {
    display: flex;
}

.nav__link {
    display: flex;
    align-items: center;
    margin: 0 32px;
    font-size: 16px;
    font-weight: 600;
}

.btn--started,
.learn-more--btn {
    border-radius: 9999px;
    border: none;
    background-color: #6316FF;
    color: white;
    font-weight: bold;
}

.learn-more--btn {
    padding: 12px 30px;
}


/* LANDING */
.logo__img {
    max-height: 40px;
    max-width: 40px;
    margin-right: 8px;
}

.company-name {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    color: #000;
}

.nav__link--primary {
    font-size: 16px;
    background-color: #6316FF;
    color: white;
    margin: 0 auto;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
}

.purple {
    color: #6316FF;
}

.header__container {
    display: flex;
    padding: 72px 0;
}

.header__description {
    width: 40%;
}

.header__img--wraper {
    width: 60%;
    padding-left: 48px;
}

.header__para {
    padding: 32px 0;
}

.header__img {
    width: 100%;
    max-width: 550px;
}

.email-address__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.input-field {
    width: 100%;
    padding: 24px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 9999px;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.5;
}

.btn--started {
    position: absolute;
    margin-right: 8px;
    padding: 16px 26px;
    font-size: 16px;
    /* font-weight: bold; */
}

.customers__container {
    margin-top: 88px;
}

.customers__img {
    width: 100%;
    margin-top: 16px;
    padding-right: 36px;
    opacity: 0.5;
}

.customers__para {
    font-size: 14px;
    font-weight: bold;
    /* color: #A1AFC0; */
    opacity: 0.5;
}

/* FEATURES */

.features__subtitle {
    font-size: 42px;
    margin: 24px 0;
}

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.features__para {
    opacity: 0.5;
    max-width: 50%;
    text-align: center;
    margin-bottom: 50px;
}

.features__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0;
}

.feature {
    display: flex;
    width: calc(100%/3);
    margin: 32px 0;
}


.feature__img--wrapper {
    border: solid 1px rgba(0, 0, 0, 0.2);
    width: 75px;
    height: 75px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    padding: 8px;
}

.feature__description {
    flex-direction: column;
    max-width: 200px;
    margin-right: 16px;
}

.feature__para {
    margin-top: 16px;
    opacity: 0.5;
    font-weight: 500;
}

/* QUALITY SECTION */

#quality {
    padding-bottom: 82px;
}

.quality__container {
    display: flex;
    padding: 16px 0 16px 0;
}

.quality__description,
.quality__img--wrapper {
    width: 50%;
}

.quality__description {
    padding-right: 50px;
}

.quality__img {
    max-height: 550px;
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.quality__para {
    margin: 8px 0 32px 0;
    opacity: 0.5;
}

.quality__img--wrapper {
    position: relative;
}

.little--dots {
    position: absolute;
    width: 5rem;
    height: 5rem;
    z-index: -1;
    bottom: 0px;
    right: 0;
    transform: translate(50%, 50%);
    fill:  #6316FF;
}


/* STEPS SECTION */

#steps {
    margin-top: 82px;
}

.steps__container {
    display: flex;
}

.steps__img--wrapper,
.steps__description {
    width: 50%;
}

.steps__description {
    margin-left: 32px;
}

.steps__img {
    width: 100%;
    transform: translateY(30%);
}

.steps__content__container {
    max-width: 100%;
    display: flex;
    padding: 16px;
}

.steps__img--wrapper {
    position: relative;
}

.steps__number {
    font-size: 42px;
    font-weight: 700;
    opacity: 0.2;
    padding-right: 24px;
}

.steps__description__title {
    opacity: 0.7;
}

.steps__subtitle {
    padding-top: 16px;
    font-size: 32px;
    font-weight: 900;
    opacity: 0.8;
}

.steps__description__para {
    padding-top: 16px;
}

.laptop__little__dots {
    position: absolute;
    width: 5rem;
    height: 5rem;
    left: 60%;
    bottom: 0;
    transform: translateY(-90%);
    opacity: 0.15;;
    z-index: -10;
    fill:  #6316FF;
}

/* VALUES SECTION */

.values__container {
    display: flex;
    margin: 32px 0;
}

.values__content__container,
.values__img--wrapper,
.values__offer--wrapper {
    width: 50%;
}

.values__content__container {
    margin-right: 24px;
}

.values__offer__container {
    margin: 32px 0;
}

.values__offer {
    display: flex;
    width: 100%;
}

.values__offer__title__container {
    display: flex;
}

.values__img {
    width: 100%;
    max-height: 100%;
}

.values__title {
    font-size: 16px;
}
.values__subtitle {
    padding: 16px 0;
}

.values__para {
    opacity: 0.4;
    font-weight: 500;
    margin: 16px 0 24px 0;
}

.values__logo__container {
    border-radius: 100%;
    padding: 8px;
    margin-right: 8px;
}

.values__logo__img {
    height: 1.25rem;
    width: 1.25rem;
}

.feather-dollar-sign {
    color: #276849;
}

.feather-briefcase {
    color: #9C2C2C ;
}

.values__offer__title {
    display: flex;
    align-items: center;
}

.values__offer--wrapper {
    margin-right: 24px;
}

.values__offer__content {
    padding: 16px 0;
}

.values__offer__content__para {
    opacity: 0.5;
}